In [29]:
from datamanager import read_data

In [30]:
traindf, testdf = read_data()

In [31]:
traindf.head()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6,0,0,0,0,0,0,0,5,0,...,0,0,0,30,43,0,0,0,0,0
3,0,0,0,0,1,2,0,0,0,0,...,3,0,0,0,0,1,0,0,0,0
4,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
testdf.head()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,0,0,0,0,0,0,0,0,9,8,...,103,87,56,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,34,0,0,0,0,0,0,0,0,0
2,2,0,0,0,0,0,0,14,53,99,...,0,0,0,0,63,53,31,0,0,0
3,2,0,0,0,0,0,0,0,0,0,...,137,126,140,0,133,224,222,56,0,0
4,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
Xtrain = traindf.values

In [34]:
Xtrain

array([[2, 0, 0, ..., 0, 0, 0],
       [9, 0, 0, ..., 0, 0, 0],
       [6, 0, 0, ..., 0, 0, 0],
       ...,
       [8, 0, 0, ..., 0, 0, 0],
       [8, 0, 0, ..., 0, 0, 0],
       [7, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [35]:
Xtrain = Xtrain/255

In [ ]:
printmyname

In [ ]:
import numpy as np
w = np.random.uniform(-0.5, 0.5, (784,))

In [ ]:
w

In [ ]:
sign(-5)

In [ ]:
np.sign(-5)

In [ ]:
np.sign(+1)

In [ ]:
w

In [ ]:
x = np.random.uniform(0,1, (784,))

In [ ]:
np.dot(w,x)

In [ ]:
np.sign(np.dot(w,x))

In [ ]:
np.sum(w*x)

In [ ]:
np.dot(w,x)

In [ ]:
np.dot(x,x)

In [ ]:
np.linalg.norm(x)**2

In [ ]:
import math

In [ ]:
round(52.224,2)

In [ ]:
number = 7.34523421
f = '{0:.3g}'.format(number)
print(f)

In [38]:
train = traindf.values

In [50]:
Ytrain = Xtrain[:,0].astype(int)

In [51]:
Ytrain.shape

(60000,)

In [52]:
Ytrain[:5]

array([2, 9, 6, 0, 3])